autoconf
autojump
bazaar
boost
boot2docker
brew-cask
cairo
cloog
cmake
cvs
docker
emacs
fftw
fontconfig
freetype
gdbm
gettext
gfortran
glib
gmp
graphviz
hdf5
icu4c
insighttoolkit
isl
ispell
jpeg
libevent
libffi
libmpc
libpng
libtiff
little-cms2
llvm
mercurial
mode-connector
mongodb
mpfr
mysql
node
openssl
pcre
php56
pillow
pixman
pkg-config
py2cairo
pyqt
python
qt
r
readline
simpleitk
sip
sqlite
swig
szip
tmux
unixodbc
vtk
webp
wget
xz
zeromq
zlib
